<ion-header>
    <ion-toolbar color="dark">
        <ion-title>
            Categorías
        </ion-title>
    </ion-toolbar>
    <ion-segment scrollable mode="md" color="primary" (ionChange)="cambiaCategoria($event)">
        <ion-segment-button mode="md" *ngFor="let item of categorias" [value]="item">
            <ion-label>{{ item }}</ion-label>
        </ion-segment-button>

    </ion-segment>
</ion-header>


<ion-content color="dark">
    <app-noticias [noticias]="noticias"></app-noticias>
</ion-content>